a.active {
  color: blue;
  font-weight: bold;
}

div .cardForm {
  display: block;
  margin: 15px auto;
  max-width: 90%;
  width: 100%;
  border: 2px solid black;
}

.nav-link:hover {
  color: blue;
  text-decoration: underline;
  font-weight: bold;
}

.nav-link:active {
  color: red;
  text-decoration: underline;
  font-weight: bold;
}

form {
  margin: auto 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

button.btn {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0px auto;
}

div.button {
  text-align: center;
}

button.btn:hover {
  background-color: green;
}

.link-detailed {
  text-decoration: none;
  font-weight: bold;
  color: blue;
  padding: 10px;
}

.link-detailed:hover {
  color: red;
  text-decoration: underline;
}
