.card {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

.container {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

nav.navbar {
  background-color: lightblue !important;
}

h1.welcome {
  padding-top: 10px;
}
